html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/static/js/ember-0.9.8.1.min.js')
    //- script(src='/nowjs/now.js')
    script(src='/static/js/app.js')
  body
    h1 Hello
    script(type='text/x-handlebars')
      b {{XMLM.name}}
      | {{XMLM.xmlController.content.display}}
