html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/static/js/ember-0.9.8.1.min.js')
    link(rel='stylesheet', href='/static/style.css')
    //- script(src='/nowjs/now.js')
    script(src='/static/js/app.js')
  body
    script(type='text/x-handlebars',data-template-name='XMLViewer')
      | <b>&#60;</b><b class="tag">{{content.name}}</b>
      | {{#each content.attributes }}
      |   {{this.key}}="{{this.value}}" 
      | {{/each}}
      | <b>&#62;</b>
      | {{#each content.children }}
      |   {{view App.ElementView contentBinding="this" }}
      | {{/each}}
      | {{content.text}}
      | <b>&#60;&#47;</b><b class="tag">{{content.name}}</b><b>&#62;</b>

    script(type='text/x-handlebars')
      b {{App.name}} 1234
      | {{view App.ElementView contentBinding="App.xmlController.content" }}
